{
  "extends": ["airbnb", "plugin:prettier/recommended", "react-app"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-closing-bracket-location": "off",
  }
}
